.footer__copyright {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: rgb(84, 84, 84);
  margin: 0;
}

@media screen and (max-width: 600px) {
  .footer__copyright {
    margin-left: 27px;
  }
}

@media screen and (max-width: 400px) {
  .footer__copyright {
    font-size: 14px;
    line-height: 17px;
  }
}

@media screen and (max-width: 320px) {
  .footer__copyright {
    margin-left: 0;
  }
}
